<div>
    <div class="table-responsive">
        <div class="row justify-content-start">
            <div class="col">
                <h3>Роли</h3>
            </div>
            <div class="col">
                <button class="btn btn-success" ng-click="fillTable()">Обновить</button>
            </div>
        </div>
        <table id="typeTable" class="table table-bordered table-hover display">
            <thead>
            <tr>
                <td>#</td>
                <td>Имя</td>
                <td>Descr</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="type in Types">
                <td>{{type.id}}</td>
                <td>{{type.name}}</td>
                <td>{{type.descr}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6">
            <h3>Удалить роль</h3>
            <form ng-submit="submitDeleteType()">
                <div class="form-group">
<!--                    <label for="elementId">Type</label>-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-danger" type="submit" id="button-addon2"><i
                                    class="bi bi-trash"></i></button>
                        </div>
                        <select class="custom-select" required ng-model="delType.id" id="elementId">
                            <option ng-repeat="type in Types" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Добавить новую роль</h3>
            <form novalidate ng-submit="submitCreateNewType()">
                <div class="form-group">
<!--                    <label for="elementName">Имя</label>-->
                    <div class="form-group">
                        <label for="elementName">Name</label>
                        <input class="form-control" type="text" ng-model="newType.name" id="elementName">
                        <label for="elementDescr">Description</label>
                        <textarea class="form-control" rows="5" type="text" ng-model="newType.descr"
                                  id="elementDescr"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>