<!doctype html>

<html ng-app="app">

<head>
    <!-- Required meta tags -->
    <title>ABtank Admin</title>
    <meta name="description" content="DataTables | ABtank Admin">
    <meta charset="utf-8">
    <meta name="author" content="My website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!--    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!--    bootstrap-icons.css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="css/style_angular.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <!--    Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
    <script src="index_controller.js"></script>


</head>

<body class="adminbody" style="background-color: #ECECEC;">

<div class="container-fluid p-0" ng-controller="indexController">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav_header">
        <a class="navbar-brand active" href="#!/">FitnessAB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav_role">
                    <a class="nav-link" href="#!/role">Role</a>
                </li>
                <li class="nav-item" id="nav_user">
                    <a class="nav-link" href="#!/user">User</a>
                </li>
                <li class="nav-item" id="nav_mode">
                    <a class="nav-link" href="#!/mode">Mode</a>
                </li>
                <li class="nav-item" id="nav_type">
                    <a class="nav-link" href="#!/type">Type</a>
                </li>
                <li class="nav-item" id="nav_category">
                    <a class="nav-link" href="#!/category">Category</a>
                </li>
                <li class="nav-item" id="nav_exercise">
                    <a class="nav-link" href="#!/exercise">Exercise</a>
                </li>
                <li class="nav-item" id="nav_workout">
                    <a class="nav-link" href="#!/workout">Workout</a>
                </li>
                <li class="nav-item" id="nav_round">
                    <a class="nav-link" href="#!/round">Round</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <form ng-submit="tryToAuth()">
                <input type="text" name="username" ng-model="user.username">
                <input type="password" name="password" ng-model="user.password">
                <button class="btn btn-outline-primary" type="submit">Войти</button>
            </form>
            <button class="btn btn-outline-secondary" ng-click="tryToLogout()">Выйти</button>
        </div>
    </nav>

    <ng-view></ng-view>


    <script src="angular_page/main/main.js"></script>
    <script src="angular_page/role/role.js"></script>
    <script src="angular_page/user/user.js"></script>
    <script src="angular_page/exercise/exercise.js"></script>
    <script src="angular_page/mode/mode.js"></script>
    <script src="angular_page/type/type.js"></script>
    <script src="angular_page/category/category.js"></script>
    <script src="angular_page/workout/workout.js"></script>
    <script src="angular_page/round/round.js"></script>
</div>
</body>
</html>